*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    background: url("background.jpg") no-repeat;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: midnightblue;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
img {
    float: left;
    margin-left:10px;
    width: 50px; /* Largeur souhaitée de l'image */
    height: 50px; /* Hauteur souhaitée de l'image */
    border-radius: 50%;
}
.form-box{
    display: flex;
}
input{
    font-size: 16px;
    border: none;
    outline: non;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
   
   }
   .schedule {
    flex: 2;
    overflow: auto; 
    margin-left: 400px;
} 
td{
    color : midnightblue;
    font-size: 20px;
}
h2{
    color:black;
    font-size: 35px;
}
